html{
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*
******************************************************************
                        DIVIDER
******************************************************************
*/