 


.output{
    margin-top:2em;
    position:absolute;
    left:0;
    bottom:-4em;
    z-index: 33;
    font-size:16px;
    color:gray;
    width:100%;
  
    text-align:center;
}
.output p{
    display:inline-block;
    margin-right:3em;
  
}

 


 