
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 125%;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    color: black;
}
/*
******************************************************************
            TYPOGRAPHY
******************************************************************
*/
p{
    margin: 0.75rem 2rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
a{
    color: inherit;
    text-decoration: none;
}
/*
******************************************************************
                        SITE NAVIGATION
******************************************************************
*/
nav.site-nav{
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 0.5rem;
}
.fa-html5{
    font-size: 3rem;
}
.site-nav .material-icons{
    float: right;
    font-size: 3rem;
}
.list-view{
    float: right;
    margin-top: 0.5rem; 
    display: none;
    color: #aaa;
    list-style: none;
}
.list-view li:hover{
    color: #333;
    cursor: pointer;
}
/*
******************************************************************
                        HEADER
******************************************************************
*/
.gallery{
    margin-top: 4rem;
}
/*
******************************************************************
                        OTHER
******************************************************************
*/
/*
******************************************************************
                        CONTAINER STYLES
******************************************************************
*/
.container{
    padding: 0.625em;
}
.item{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    vertical-align: top;
    border-radius: 1rem;
}
.item img{
    height: 7rem;
}
.item:hover{
    cursor: pointer;
    background: #ddd;
}
/*
******************************************************************
                        MEDIA QUERIES
******************************************************************
*/
@media (min-width: 768px) {
    .menu{
        display: none;
    }
    .list-view{
        display: flex;
        justify-content: flex-end;
    }
    .list-view li{
        margin-right: 2rem;
    }
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .item{
        width: 48.3%;
        float: left;
        margin-right: 3.3%;
    }
    .item:nth-child(2n){
        margin-right: 0;
    }
}
@media (min-width: 1024px) {
    .container{
        width: 80%;
    }
    .item:nth-child(n){
        width: 32%;
        margin-right: 2%;
    }
    .item:nth-child(3n){
        margin-right: 0;
    }
}