
body{
    font-size:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}
/*
    Container Styles
*/
.container{
    padding: 0.625em;
    background-color: rgba(0,0,0,0.29);
}
.item{
    width: 100%;
    height: 15em;
    border: 1px solid black;
    margin-bottom: 1.5em;
    background-color: #fff;
}
/*
    media query
*/
@media (min-width: 720px) {
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .item{
        width: 48.3%;
        float: left;
        margin-right: 3.3%;
    }
    .item:nth-child(2n){
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 80%;
    }
    .item:nth-child(n){
        width: 32%;
        margin-right: 2%;
    }
    .item:nth-child(3n){
        margin-right: 0;
    }
}