/*
    1. Site Navigation

*/

body {
    font-size: 125%;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    /*
    fixes margin collapse
    margin:-1px;
    padding:1px;
    */
}
aside, section{
    width: 75rem;
    margin: 0 auto;
}

/*
******************************************************************
            TYPOGRAPHY
******************************************************************
*/
p{
    margin: 0.75rem 2rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
}
/*
******************************************************************
            SITE NAVIGATION
******************************************************************
*/
nav.site-nav{
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 0.5rem; 
}
.fa-html5{
    font-size: 3rem;
}
.site-nav .material-icons{
    float: right;
    font-size: 3rem;
}
/* 
**********************************************************************************************************
                                YOUR SLIDE STYLES WILL GO HERE
**********************************************************************************************************
*/
.slide-1, .slide-2,.slide-3,.gallery{
}
.slide-1 {
    text-align: center;
    color:white;
    background-image: radial-gradient(rgba(170,170,170,0.7), rgba(10,10,10,0.95)), url("../img/banner.jpg");
}
.slide-1 .icon{
    margin-top: 4rem;
    padding: 2rem 0;
    font-size: 8vw;
}
.slide-1 h1{
    font-size: 3rem;
}

.slide-2 {
    text-align: center;
    color:white;
    background-image: url(../img/coding.png);
}
.slide-2 h1{
    margin-top: 24rem;
    padding: 2rem 0;
    font-size: 3rem;
}

.slide-3 {
    background-image: url(../img/slide3.jpg);
}

/* 
**********************************************************************************************************
                                LABS/ASSESSMENTS/PROJECTS
**********************************************************************************************************
*/
.labs{
}
.lab{
    display: inline-block;
    width: 17rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    vertical-align: top;
}
.lab img{
    height: 7rem;
    width: 50%;
}
.lab h3{
    font-size: 2rem;
}
.lab p{
    padding-left: 0;
    text-align: left;
    width: 15rem;
}
.lab p span{
    color: #c00;
}
.assessment{
    display: inline-block;
    width: 20rem;
    padding: 0.5rem 2rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    vertical-align: top;
}
.openweb img{
    width: 100%; 
}
.assessment,.lab, .project{
    border-radius: 1rem;
}
.lab:hover, .assessment:hover , .project:hover{
    cursor: pointer;
    background: #ddd;
}
.project{
    display: inline-block;
    width: 20rem;
    padding: 0.5rem 2rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    vertical-align: top;
}
.project img{
    width: 15rem;
    margin-bottom: 1rem;
}
.project p{
    padding-left: 0;
    text-align: left;
    width: 15rem;
}
/* 
**********************************************************************************************************
                                HEADINGS
**********************************************************************************************************
*/
section h2, aside h2{
    margin-top: 5rem;
    font-family: 'BioRhyme Expanded', serif;
    text-align: right;
    color: #666;
    font-size: 3rem;
}
/* 
**********************************************************************************************************
                                BIO
**********************************************************************************************************
*/
.bio{
    text-align: center;
}
.bio figure > img{
    width: inherit;
}
.bio figure{
    display: inline-block;
    width: 24rem;
}
.bio figcaption{
    float: right;
}
.social-media img{
    height: 2rem;
}
.biography{
    text-align: left;
    display: inline-block;
    width: 34rem;
    vertical-align: top;
}
.biography p{
    padding: 0;
}
.italics{
    font-style: italic;
}
/* 
**********************************************************************************************************
                                FOOTER
**********************************************************************************************************
*/
footer{
    padding: 5rem;
}