html{

}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    line-height: 1.5;
}
aside, section{
    width: 75rem;
    margin: 0 auto;
}
/* Typography */
p{
    margin: 0.75rem 2rem;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
}
/* Navigation */
nav.site-nav{
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
    position: fixed;
    top: 0; 
    width: 100%;
    padding: 0.5rem; 
}
.fa-html5{
    font-size: 3rem;
}
.site-nav .material-icons{
    float: right;
    font-size: 3rem;
}
/* Header */
.page-header{
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: black;
    background-image: radial-gradient(rgba(170,170,170,0.7), rgba(10,10,10,0.95)), url("../img/banner.jpg");
    background-position-y: 50%;
    background-position-x: center;
    background-size: 80%;
    color:white;
}
.page-header .icon{
    font-size: 8vw;
}
.page-header h1{
    font-size: 3rem;
    text-align: center;
}
/* Labs */
.assessment,.lab{
    border-radius: 1rem;
}
.labs{

}
.lab{
    display: inline-block;
    width: 17rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    vertical-align: top;
}
.lab img{
    height: 7rem;
    width: 50%;
}
.lab h3{
    font-size: 2rem;
}
.lab p{
    padding-left: 0;
    text-align: left;
    width: 15rem;
}
.lab p span{
    color: #c00;
}
.lab:hover, .assessment:hover{
    cursor: pointer;
    background: #ddd;
}
/* Headings */
section h2, aside h2{
    padding: 1rem 0;
    font-family: 'BioRhyme Expanded', serif;
    text-align: right;
    color: #666;
    font-size: 3rem;
}
/* Bio */
.bio{
    text-align: center;
}
.bio figure > img{
    width: inherit;
}
.bio figure{
    display: inline-block;
    width: 24rem;
}
.bio figcaption{
    float: right;
}
.social-media img{
    height: 2rem;
}
.biography{
    text-align: left;
    display: inline-block;
    width: 34rem;
    vertical-align: top;
}
.biography p{
    padding: 0;
}
.italics{
    font-style: italic;
}
/* Assessments */
.assessment{
    display: inline-block;
    width: 20rem;
    padding: 0.5rem 2rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    vertical-align: top;
}
.openweb img{
    width: 100%; 
}
/* Footer */
footer{
    padding: 5rem;
}