/*
   header
*/
.page-marquee{
    padding:2.75em 0;
    text-align: center;
    background:deepskyblue;
    color:#fff;
    img{
        width:15vw;
    }

    h1{
        font-size:2.75em;
    }

    p{
        font-size:1.275em;
    }
}