section{
    width: 960px;
    margin: auto;
}
body{
    /*Step 1: Choose a font family*/
    font-family: Georgia, serif;

    /*Step 2: Set your default font size*/
    font-size: 100%; /*This will be 16px*/

    /*Step 3: Choose your grid unit size*/
    line-height: 1.5; /*This will be 24px*/

    /*Step 4: Display a visual grid*/
    background-image: linear-gradient(#0ff 1px, transparent 1px);
    background-size: auto 24px;

    /*Step 5: Choose a typographic scale*/
    /*12,14,16,18,21,24,36,48,60,72*/
    /*ems*/
    /*0.75,0.875,1,1.125,1.3125,1.5,2.25,3,3.75,4.5*/
}

/*Step 6: Style the stuff*/
h1{
    /*divide the target font size by the current (default) font size set by the body*/
    font-size: 72px; 
    font-size: 3em; /*48/16*/
    /*changing the font size now changes the current context. so that now affects the rest of the measurements within this element*/
    /*divide the target line height by the new current context (font size)*/
    line-height: 96px; /*line height must be larger than the font size, and a multipler of 24px for the grid spacing*/
    line-height: 1.5em; /*72/48*/
    margin-bottom: 24px;
    margin-bottom: 0.5em; /*24/48*/
    
}
p{
    margin-bottom: 24px;
    margin-bottom: 1.5em; /*24/16*/
    max-width: 480px;
    max-width: 30em; /*480/16*/
}
h2{
    font-size: 48px; 
    font-size: 2.25em; /*36/16*/
    line-height: 48px;
    line-height: 1.3333em; /*48/36*/
    margin-bottom: 24px; 
    margin-bottom: 0.667em; /*24/36*/
    margin-top: 48px; /*double the amount to take into account the collapsing margin from the above paragraph*/
    margin-top: 1.3333em; /*48/36*/
}
@media screen and (min-width: 50em){
    body{
        font-size: 100%;
    }
}
@media screen and (min-width:75em){
    body{
        font-size: 112.5%;
    }
}