 /*
******************************************************************
                    TYPOGRAPHY
******************************************************************
*/
 
.material-icons, .fas{
    line-height: 0;
    vertical-align:middle;
    color:#c4c4c4;
}
a{
        color: black;
        text-decoration: none;
}