/*
    BASE
    import icon fonts
    import google fonts
    import additional styles

    have existing css just add the .scss
*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
$base-font: 100%;
$system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font: 'Open Sans', sans-serif;
$page-background: #fff;
body{
    background-color: $page-background;
    font-family: $heading-font;
    font-size: $base-font;
}