  body {
    background-color: #fbfbfb;
  }

  article {
    width: 960px;
    margin: 0 auto;
  }

  img {
    float: left;
    margin-right: 1em;
  }

  footer {
    font-style: italic;
    color: #777;
  }

  /*********************** Your code goes here ***********************/

body {
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    background-image: linear-gradient(#0ff 1px, transparent 1px);
    background-size: auto 24px;
    color: #333;

    /*Step 5: Choose a typographic scale*/
    /*12,14,16,18,21,24,36,48,60,72*/
}
h1,h2,h3,h4,h5,h6{
  margin-top: 24px;
}
p{
  margin-bottom: 24px;
  line-height: 24px;
  max-width: 480px;
}
h1{
  font-size: 60px;
  margin: 24px 0;
  line-height: 60px;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
  line-height: 48px;
}
h4,h5,h6{
  font-size: 24px;
  line-height: 24px;
}
img{
  width: 40%;
}