html{
}
body{
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
a{
    color: #333;
    text-decoration: none;
}
/* Type Scaling */
h1,h2,h3,h4,h5,h6{
    font-family: 'Stardos Stencil', cursive;
    margin-top: 2.4rem;
    font-weight: inherit;
    line-height: 1.2;
}
h1{
    font-size: 7rem;
    text-align: center;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.2rem;
}
p{
    margin-bottom: 1.3em;
}
/* Inspirations */
.inspiration figure{
    margin: auto;
    text-align: center;
    margin-bottom: 12rem;
}
.inspiration figure img{
    max-width: 60rem;
    box-shadow: 0 0 5px 3px rgba(125,125,125,0.5);
}
.inspiration figcaption{
    font-size: 3rem;
}
div{
    /*lookup css transition*/
}
/* Section the content */
.container{
    width: 75rem;
    margin: 0 auto;
}
header{
    margin-bottom: 3rem;
}
section{
    margin: 0 auto;
    width: 60rem;
    margin-bottom: 5rem;
}
section h2{
    margin-bottom: 2.5rem;
}

/* Header */
.banner{
    background-image: url(../img/island.jpg), linear-gradient(to bottom right, #79d2d0, #02679f);
    background-repeat: no-repeat;
    background-position: center;
    padding: 8rem;
    margin-top: 6rem;
}
header a > h1{
    color: #5E1F05;
}
.about p{
    display: inline-block;
    max-width: 23rem;
    vertical-align: top;
    margin-top: 1.5rem;
}
.about p:last-child{
    margin-left: 3rem;
}

/* Nav */
.content-nav{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: white;
    box-shadow: 0 0 5px 3px rgba(125,125,125,0.5);
}
.content-nav img{
    width: 5.5rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    background-color:black;
    margin-bottom: 0.7rem;
    margin-right: 2rem;
}
.content-nav li{
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 2rem;
    padding: 0.5rem;
}

/* Plot */
.plot p{
    padding-top: 2rem;
    width: 22rem;
}
.part{
    background-size: 52%;
    background-repeat: no-repeat;
    background-position: top right;
    background-position-y: 5.5rem;
    background-position-x: 26rem;
    background-color: lightblue;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}
.part h3{
    margin-top: 0;
}
.part.one{
    background-image: url("../img/story_01.jpg");
}
.part.two{
    background-image: url("../img/story_02.jpg");
}
.part.three{
    background-image: url("../img/story_03.jpg");
    padding-bottom: 2rem;
}
.part.four{
    background-image: url("../img/story_04.jpg");
}
.part.five{
    background-image: url("../img/story_05.jpg");
}
.part.six{
    background-image: url("../img/story_06.jpeg");
}
/* Background */
.background{
    width: 75rem;
    border-radius: 1rem;
}
.background p{
    column-count: 3;
    column-gap: 3rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #333;
}
.big-text{
    font-family: 'Stardos Stencil', cursive;
    font-size: 3rem;
    line-height: 1;
}
/* Characters */
.char{
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 3px rgba(170,170,170,0.5);
    margin-bottom: 3rem;
}
.char h3{
    font-family: 'Homemade Apple', cursive;
    margin-bottom: 0.7rem;
    color: #c00;
}
.char img{
    display: inline-block;
    vertical-align: top;
    width: 15rem;
}
.char p{
    display: inline-block;
    width: 22rem;
    margin-left: 1rem;
}

/*Alternate Color*/
/*
html{
    background-color: #333;
}
body{
    color: #fff;
}
.container{
    padding: 2rem;
    background-color: #444;
}
*/