@import 'vendor/normalize';
@import 'vendor/utils';
@import 'partials/base';
@import 'partials/typography';
@import 'partials/controls';
@import 'partials/banner';
@import 'partials/grid';
@import 'partials/gridcell';
@import 'partials/sort';
@import 'partials/footer';
@import 'partials/mobile';

/*
******************************************************************
                        MEDIA QUERIES
******************************************************************
*/
@media (min-width: 900px){
    .banner-image{
        display: block;
        margin-top: -3rem;
        height: 50vw;
        width: 100%;
        background-image: url(../img/banner-image.png);
        background-size: 60%; 
        background-position-x: 5%;
        background-repeat: no-repeat;
        background-color: #f8f8f8;
        text-align: center;
    }
    .banner-image h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        font-size: 30vw;
        letter-spacing: 10vw;
        color: #575153;
    }
    .banner-image .shop-button{
        position: absolute;
        top: 80%;
        right: 10%;
    }
    .banner.lookbook{
        height: 20vw;  
    }
    .banner.lookbook h1{
        padding-top: 3rem;
        font-size: 4vw;
    }
    .banner.lookbook p{
        font-size: 3vw;
    }
    .feature-layout{
        display:flex;
        justify-content: space-evenly;

    }
    .feature{
        flex:0 1 48%;
    }
    .feature-layout.lookbook{
        display: block;
    }
    .feature-layout.lookbook .feature{
        height: inherit;
        display: flex;
        justify-content: space-around;
    }
    .feature-layout.lookbook .grid-cell{
        display: inline-block;
        background-color: #ebebe9;
        box-shadow: 0 0 8px 1px rgba(0,0,0,0.35);
        margin-right: 1rem;
    }
    .sorted{
        display:block;
    }
    .icon-view{
        display: none;
        float: none;
    }
    .list-view{
        display:flex;
        justify-content: space-between;
    }
    .links{
        display: flex;
    }
    .links li{
        margin-right: 1rem;
    }
    .site-map{
        font-size: inherit;
    }
    .icons.win h2{
        font-size: 3vw;
    }
    .icons.win h3{
        font-size: 1vw;
    }
    .icons.win p{
        font-size: 1.2vw;
    }
    .icons.win .win-newlook{
        position: absolute;
        text-align: right;
        color:inherit;
        right: 2rem;
        top: 70%;
        font-size: 4vw;
        transform: translate(0, -60%);
        width: 18rem;
        color: #00c8c8;
    }
    .grid-cell.win img{
        display: block;
    }
    
}
 